[submodule "megnet"]
	path = megnet
	url = https://github.com/materialsvirtuallab/megnet.git
[submodule "chgnet"]
	path = chgnet
	url = https://github.com/CederGroupHub/chgnet
[submodule "QDax"]
	path = QDax
	url = https://github.com/adaptive-intelligent-robotics/QDax.git
