.idea
__pycache__
.pytest_cache


.DS_Store


used_modes.json
.experiment.nosync

bin/list_of_configs.csv

report_figures/

/bin

/.configs_copy.nosync

apptainer/container.sif
apptainer/tmp/
apptainer/var_tmp/
output/
results/
mome_test_file.py