ase==3.22.1
black==23.9.1
cairosvg==2.7.1
chemview==0.6
chex==0.1.83
chgnet==0.2.0
click==8.1.7
csp-cryspy==1.2.1
imageio==2.31.5
jax==0.4.18
jupyter==1.0.0
matplotlib==3.8.0
matgl==0.7.1
mp-api==0.33.3
numpy==1.24.3
pandas==2.1.1
pillow==10.0.1
pylint==2.17.7
pyxtal==0.5.9
qdax==0.2.3
ribs==0.5.2
scienceplots==2.1.0
sciplot==0.8.1
seaborn==0.12.2
spglib==2.1.0
tensorflow==2.13.0
torch==2.1.0
tqdm==4.66.1
vtk==9.2.6